<h1>Calculator#sum</h1>
<p>Find me in app/views/calculator/sum.html.erb</p>

<h1>Sum</h1>

<%#= form_tag '/sum' do %>
<%= form_tag("/sum", :method => "post") do %>
    <%= text_field_tag :number1 %>
    <%= text_field_tag :number2 %>
    <%= submit_tag " + " %>
	
<% end %>
<!-- display the lines below when the result is >0. When hit submit above then displays -->

<% if (@result > 0) %>
	<%= @num1 %> + <%= @num2 %> = <%= @result %>
<% end %>